@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #cb8934; */
  /* --background: #92685c; */
  /* --background: #e2e2e2; */
  --background: #e5e5e5;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* opacity: 0; */
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

p,
body {
  font-family: "Space Mono", monospace;
}
