@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #cb8934; */
  /* --background: #92685c; */
  /* --background: #e2e2e2; */
  --background: #e5e5e5;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

p,
body {
  font-family: "Space Mono", monospace;
}

@layer utilities {
  .text-clamp-5xl {
    font-size: clamp(32px, 5vw, 48px);
  }
  .text-clamp-xl {
    font-size: clamp(16px, 2vw, 20px);
  }
  .text-clamp-md {
    font-size: clamp(14px, 1.5vw, 16px);
  }
}
